---
layout: base.njk
title: The Author
permalink: /author/
---

<div class="intro">
    <h1>The Author</h1>
    <p class="lead">
        Web Everything is a project by <a href="https://github.com/chalbert" target="_blank">Nicolas Gilbert</a>.
    </p>
</div>

<div class="content-box">
    <p>
        Nicolas is a Technical Lead and Specification Writer focused on unifying the web ecosystem. 
        With a background in comprehensive design systems and heavy-duty web applications, 
        Web Everything was born out of the frustration with fragmentated UI libraries.
    </p>
    
    <h2>Philosophy</h2>
    <p>
        The goal is not to create "yet another library", but to define the contracts that allow 
        libraries to talk to each other.
    </p>
</div>
